#elemento {
    width:100%;
    height:100%;
    animation:  mi-animacion 5s infinite;
}

img {
    animation: circulo 2s infinite;
}


@keyframes circulo {
    0% {
        border-radius: 0%;
    }
    15%{
        border-radius: 15%;
    }
    30% {
        border-radius: 30%;
    }
    45% {
        border-radius: 45%;
    }
    60% {
        border-radius: 60%;
    }
    75% {
        border-radius: 75%;
    }
    90% {
        border-radius: 90%;
    }
    100% {
        border-radius: 100%;
    }
}


@keyframes mi-animacion {
    0% {
        background-color: brown;
    }
    50% {
        background-color:green;
    }
    100% {
        background-color: cadetblue;
    }
}





html,body{
    height: 100%;
}