@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$font-poppins: "Poppins";
$shadow: 4px 4px 18px 10px rgba(0, 0, 0, 0.15);
$responsivo: 600px;

* {
  font-family: $font-poppins;
}

.home {
  display: flex;
  flex-direction: column;

  &__video {
    max-width: 720px;
    margin-top: 50px !important;
    margin: auto;
  }
  &__cards {
    margin-top: 50px !important;
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
  }
  &__body {
    margin: 100px !important;
    &__title {
      font-size: xx-large;
      font-weight: bold;
    }
    &__text {
      justify-content: center;
      font-size: medium;
      font-weight: normal;
    }
  }
}

@media only screen and (max-width: $responsivo) {
  .home {
      
    &__video {
      max-width: 360px;
      margin-top: 20px !important;
      margin: auto;
    }
    &__cards {
        margin-top: 20px !important;
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: space-around;
      }
  }
}
