@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

#nombre {
  color: aquamarine;
}

#color1 {
  color: blue;
}
#color2 {
  color: red;
}
#color3 {
  color: yellow;
}
#color4 {
  color: green;
}
#color5 {
  color: deeppink;
}
.cancion {
  font-family: "Roboto Mono", monospace;
}

#parrafo3{
    font-family: 'Noto Sans JP', sans-serif;
}
#parrafo4{
    font-family: 'Open Sans Condensed', sans-serif;
}
sub{
    color:darkgrey
}



#primer-nombre{
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    font-weight: bold;
}
#segundo-nombre{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 55px;
    font-weight: bold;
}
#primer-apellido{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#segundo-apellido{
    font-family: "Roboto Mono", monospace;
    font-size: 75px;
    font-weight: bold;
}

.contenedor{
    display:inline-block
}