@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 70px;
}
.subcontainer {
  display: flex;
  margin: 10px;
  max-width: 50%;
  box-shadow: 4px 4px 18px 10px rgba(0, 0, 0, 0.15);
}
.blog {
  padding: 20px;
}

.titulo {
  font-size: 20px;
  margin-bottom: 20px;
}

.cuerpo {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: justify;
}
.autor {
  font-size: small;
  color: gray;
}
.imagen {
  max-width: 400px;
  max-height: 300px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .blog {
    padding: 5px;
    max-width: fit-content;
  }
  .imagen {
    max-width: 50%;
    margin: 20px;
  }
  .subcontainer {
    max-width: 100%;
    flex-direction: column;
    padding: 10px;
  }
}
