@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$font-poppins: "Poppins";
$shadow: 4px 4px 18px 10px rgba(0, 0, 0, 0.15);
$responsivo: 600px;

* {
  font-family: $font-poppins;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: $shadow;
  border-radius: 10px;
  padding: 15px;
  &__image {
    padding-top: 20px;
    margin: auto;
    border-radius: 15px;
    max-width: 200px;
    max-height: 200px;
  }
  &__content {
    padding: 10px;
    &__title {
      color: lightgray;
      font-style: italic;
    }
    &__text {
      color: black;
      font-style: normal;
    }
  }
  &__footer {
    margin-top: 10px;
    text-align: center;
    &__button {
      font-weight: bold;
      font-size: medium;
      border-radius: 5px;
      background-color: teal;
      color: white;
      border: none;
      padding: auto;
    }
  }
}
