#blanco-y-negro {
  filter: grayscale(100%);
  border-radius: 20%;
  transform:rotate(180deg)
}

#blur {
    filter:blur(20px);
    transform: skewY(-40deg);
}

body {
    background-image: linear-gradient(to left, green,yellow);
    text-align:center;
}
