@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html {
  background: url("./assets/images/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #80A963;
  display: flex;
  justify-content: space-between;
}
#logo {
  margin: 10px;
  height: 40px;
  width: 40px;
}

nav {
  margin-top: 20px;
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

main {
  text-align: center;
}
button {
  border-radius: 10px;
  border: 2px solid white;
  background-color: #fddc02;
  color: white;
  font-size: 30px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}
#foto {
  margin-top: 100px;
  border-radius: 50%;
  width: 200px;
  border: 5px solid white;
}
#waves {
  width: 100%;
  left: 0;
  margin-bottom: -10px;
}
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #80A963;
}
#sub-footer-1 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sub-footer-2 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sub-footer-3 {
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.red-social {
  width: 30px;
  margin: 10px;
}
#parrafo{
  font-size: large;
  margin: auto;
  color: white;
  margin: 100px;
  padding: 30px;
  border-radius: 20px;
  justify-content: center;
  background-color: #80A963;
}
#nombre {
  font-family: "Poppins", sans-serif;
 margin-bottom: 30px;
  color: white;
  font-size: xxx-large;
}
.texto-footer{
font-size: medium;
color: white;
}
.red-social{
  color: white;
}
